<h1 style="color:navy"><i><strong>Random Forest Regression Model</strong></i></h1>

In [48]:
import pandas as pd
import numpy as np

In [49]:
X_train_ds = pd.read_csv('train.csv' , index_col ='Id') 
X_test_ds = pd.read_csv('test.csv', index_col='Id')

In [50]:
target = X_train_ds.SalePrice
target

Id
1       208500
2       181500
3       223500
4       140000
5       250000
         ...
1456    175000
1457    210000
1458    266500
1459    142125
1460    147500
Name: SalePrice, Length: 1460, dtype: int64

In [51]:
features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']
X = X_train_ds[features].copy()
X

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
Id,,,,,,,
1,8450,2003,856,854,2,3,8
2,9600,1976,1262,0,2,3,6
3,11250,2001,920,866,2,3,6
4,9550,1915,961,756,1,3,7
5,14260,2000,1145,1053,2,4,9
...,...,...,...,...,...,...,...
1456,7917,1999,953,694,2,3,7
1457,13175,1978,2073,0,2,3,7
1458,9042,1941,1188,1152,2,4,9
1459,9717,1950,1078,0,1,2,5
1460,9937,1965,1256,0,1,3,6

In [52]:
from sklearn.model_selection import train_test_split
train_X , test_X , train_y, test_y = train_test_split(X,target,test_size=0.4,random_state=1)

In [53]:
train_X.head(10)

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
Id,,,,,,,
1025,15498,1976,2898,0,2,2,10
458,53227,1954,1663,0,1,2,6
176,12615,1950,2158,0,2,4,7
550,9375,2003,912,1182,2,4,8
301,15750,1953,1336,0,1,2,5
460,7015,1950,979,224,1,3,5
684,11248,2002,1668,0,2,3,7
615,1491,1972,630,0,1,1,3
1257,14303,1994,1987,0,2,2,7
1202,10400,1998,866,913,2,3,6

In [54]:
test_y.head(10)

Id
259     231500
268     179500
289     122000
650      84500
1234    142000
168     325624
927     285000
832     151000
1238    195000
427     275000
Name: SalePrice, dtype: int64

<h1 style="color:skyblue">Evaluating Using Several Models</h1>

In [55]:
from sklearn.ensemble import RandomForestRegressor

model_1 = RandomForestRegressor(n_estimators = 50 , random_state=0)
model_2 = RandomForestRegressor(n_estimators = 100, random_state=0)
model_3 = RandomForestRegressor(n_estimators = 200 , criterion='mae' , random_state=0)
model_4 = RandomForestRegressor(n_estimators = 100 , criterion='mae' , random_state=0)
model_5 = RandomForestRegressor(n_estimators = 300 , criterion='mae' ,random_state = 0)
model_6 = RandomForestRegressor(n_estimators =200, min_samples_split=20, random_state=0)
model_7 = RandomForestRegressor(n_estimators =100, max_depth=7, random_state=0)

models = [model_1,model_2,model_3,model_4,model_5,model_6,model_7]

<h2 style="color:pink">Mean Absolute Error</h2>

In [56]:
from sklearn.metrics import mean_absolute_error

<i style="color:red">Function For Comparing Different Models</i>

In [57]:
def model_score(model ,t_X=train_X , ts_X=test_X , t_y=train_y , ts_y=test_y):
    model.fit(t_X,t_y)
    predicted_values = model.predict(ts_X)
    return mean_absolute_error(predicted_values,ts_y)

In [58]:
for i in range(0,7):
    mae = model_score(models[i])
    print("Model %d MEAN ABSOLUTE ERROR: %d" % (i+1, mae))

Model 1 MEAN ABSOLUTE ERROR: 23181
Model 2 MEAN ABSOLUTE ERROR: 22943
Model 3 MEAN ABSOLUTE ERROR: 22993
Model 4 MEAN ABSOLUTE ERROR: 23062
Model 5 MEAN ABSOLUTE ERROR: 23143
Model 6 MEAN ABSOLUTE ERROR: 23285
Model 7 MEAN ABSOLUTE ERROR: 23056

<h2 style="color:green">By Observing Above models : The Model Which has Lowest Mean Absolute Error is the Best Model, So in this Case it's model_2</h2>

In [59]:
best_model = model_2

<h1 style="color:red">Generating Test Predictions</h1>

In [60]:
my_model = RandomForestRegressor()

In [62]:
my_model.fit(X,target)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [64]:
test_predictions = my_model.predict(test_X)
test_predictions

array([214979.        , 176457.75      , 125613.        ,  85020.        ,
       145603.        , 306605.96      , 300890.09      , 148046.93      ,
       201193.35      , 254646.8       , 173869.5       ,  77125.        ,
       188355.53      , 333682.48      , 235805.54      ,  98822.26      ,
       121641.83      , 116164.        , 233727.46      , 135582.5       ,
       129957.        , 139671.58      , 234913.        , 329543.23      ,
        85668.5       , 179923.5       , 126079.5       , 184042.        ,
       501506.69      , 122606.        , 118128.06      , 111507.33333333,
       125307.5       ,  90253.        , 138521.75      , 354563.96      ,
       124420.5       ,  92013.        , 280311.1       , 112020.        ,
       138196.7       , 134770.75      ,  93444.        , 121201.        ,
       182051.        , 167577.1       , 109120.        , 170353.03      ,
       243430.4       , 269556.27      , 103555.        , 347003.        ,
       112498.        , 239029.5       , 191338.32      , 112485.        ,
       124040.        , 178912.        , 119718.18      , 182203.        ,
       166184.5       , 280208.43      ,  93814.93      , 131685.        ,
       167422.        , 132370.5       , 136215.58      , 239709.35      ,
       164046.        , 146215.792     , 205819.4       , 124575.25      ,
       342216.09      , 160219.        , 158774.        , 221682.1       ,
       165466.        , 142173.5       , 424053.36      , 175488.28      ,
       195009.        , 135846.34      , 134226.5       , 162981.5       ,
       189502.        , 141360.36      , 157860.        , 161264.5       ,
       190869.        , 172121.        , 206784.91      , 172390.        ,
       114390.        , 114640.        , 110655.75      , 130841.62      ,
       119425.83      , 139661.5       , 146994.        , 153751.5       ,
       180879.5       , 134772.2       , 124531.        , 113482.13      ,
       124602.39      , 155575.37      , 177050.2       , 140519.12      ,
       139454.37      , 327821.68      , 141749.5       , 208848.        ,
       119080.        , 189007.38      , 231965.25      , 168611.95      ,
       212230.84      , 124981.        , 181377.04      , 223083.02      ,
       125476.        , 240948.18      , 367742.89      , 156718.95      ,
       178339.7       , 180745.57      , 342357.4       ,  81563.94      ,
       204971.53      , 221785.15      , 281955.69      ,  92565.65      ,
       128210.        , 125092.5       ,  79914.3       , 214493.5       ,
       604958.58      , 334178.01      , 228360.        , 130275.83      ,
       129951.        , 276956.        , 164985.        , 216635.        ,
        70041.83      , 220581.9       , 121473.        , 194203.74      ,
       211960.56      , 122088.        , 175238.8       , 175116.        ,
       104147.5       , 174507.9       , 162048.        , 350738.12      ,
        86902.        , 138961.5       , 102637.52      , 132691.5       ,
        73638.5       , 104384.91      , 152599.        , 138612.5       ,
       114126.3       , 132916.5       , 177439.        , 147219.5       ,
       124238.05      , 114331.        , 251603.3       , 183093.        ,
       226921.        , 280479.02      , 185472.85      , 137917.        ,
       170195.5       , 210112.78      , 134115.        , 160114.        ,
       127080.        , 175142.56      , 158249.34      , 137199.        ,
       280132.61      , 143893.5       , 322402.44      , 314407.36      ,
       193146.09      , 118722.        , 112018.        , 132255.78      ,
       100686.25      , 163608.75      , 153940.93      , 271513.04      ,
       225299.9       , 149374.        , 153771.5       ,  81589.        ,
       204835.        , 233540.1       , 162568.5       , 177680.        ,
       313431.5       , 109765.04      , 186570.        , 323914.1       ,
       290794.53      , 234385.5       , 185174.5       , 110878.8       ,
       172407.33      , 123239.5       , 289076.94      , 263808.8       ,
       123404.16      ,  93637.9       , 186330.6       ,  89892.89571429,
       702967.41      ,  82607.61      , 171723.        , 172508.5       ,
       115184.5       , 121267.97      , 205500.69      , 183316.83      ,
       164834.71      , 171555.25      , 122327.        , 185327.5       ,
       107628.        , 138549.71      , 302082.2       , 124188.15733333,
       297058.        , 117877.58      , 119412.41      , 335564.48      ,
       328409.26      , 182855.87      , 139287.32      , 163160.32      ,
       137823.        , 114815.        , 135445.        , 140553.5       ,
       165304.74      , 173202.5       , 126849.        , 123516.        ,
       184555.28      , 167233.        , 110342.1       , 115009.5       ,
       175119.9       ,  82719.        , 320627.45      , 132716.5       ,
       209021.76      , 167914.        , 219307.78      , 165316.5       ,
       121165.04      , 196439.        , 129661.5       , 161333.5       ,
       143596.        ,  89312.5       , 183777.        , 184801.5       ,
        89768.        , 106755.        , 191168.        , 107458.        ,
       108006.        , 142363.59      , 215542.        , 141962.        ,
       138212.        , 133255.5       , 146247.        , 153456.        ,
       256599.87      , 221529.86      , 132029.68      , 107389.        ,
       253540.33      ,  81512.        ,  94059.        , 312709.13      ,
       142846.        , 110803.5       , 175227.69      , 215326.8       ,
       191011.        , 244409.        , 155641.5       , 118307.5       ,
       156551.        , 146854.        , 137401.        , 175801.5       ,
       141172.39333333, 220675.        , 151985.        , 173448.        ,
       141191.87      , 179905.4       , 164404.        , 149436.        ,
        98016.84      , 233924.28      , 147927.68      ,  73236.8       ,
       273074.4       , 183807.8       , 185654.        , 198523.1       ,
       192828.9       , 161835.        , 124586.46      , 240093.5       ,
       128867.        , 415554.06      , 160406.01      , 250955.        ,
       126843.75      , 114112.34      , 124036.3       , 259510.67      ,
       250869.5       , 298605.5       , 171253.        , 142922.92      ,
       134256.9       , 119163.        , 319606.8       , 177392.4       ,
       229428.        , 255123.        ,  79661.        , 259410.16      ,
       109087.22      , 171960.        , 155411.5       , 148764.11      ,
       265978.82      ,  86661.        , 219234.75      , 145390.        ,
       365076.05      , 133044.75      , 145705.75      , 135211.3       ,
       207228.28      , 155182.5       , 102477.        , 309510.65      ,
       182416.63      , 177478.4       , 125235.04      , 254631.37      ,
       151278.5       , 281981.46      , 194374.        , 147645.53      ,
       179197.        , 144713.        , 143278.        , 176534.        ,
       207003.        , 222471.35      , 312945.55      , 204170.11      ,
        83830.        , 111467.        , 131367.02      , 403115.81      ,
       171121.        ,  57577.04      , 382298.        , 138471.71      ,
       105655.        , 265478.39      , 171339.        , 408692.85      ,
       154248.        ,  97104.        , 389922.26      , 175056.37      ,
       184823.9       , 228281.34      , 175907.        , 134256.9       ,
        86643.52      , 269740.        , 157304.5       , 417278.19      ,
       303766.15      , 208558.83      , 241922.        , 249822.38      ,
       185071.9       , 193700.        ,  76874.        , 150656.        ,
       217103.7       , 154177.        , 151198.91      , 268221.65      ,
       178907.65      , 129554.5       ,  71145.        , 138085.        ,
       139647.87      , 128140.        , 148271.46      , 267944.24      ,
        49110.        , 112646.32      ,  96931.84      , 115752.41      ,
       311268.2       , 232436.54      , 349406.6       , 196198.78      ,
       166335.32      ,  57489.        , 181999.        , 136125.5       ,
       410391.96      , 231147.44      , 218420.7       , 169078.        ,
       175494.9       , 222171.84      , 115363.        , 262160.        ,
       132564.        , 237680.45      ,  93449.        , 147413.        ,
       130249.16      , 127363.        , 324673.78      , 158053.5       ,
       146174.7       , 195850.        , 144493.        , 127834.        ,
       114294.91      , 148683.        , 156291.        , 236364.        ,
       111449.04      , 143985.        , 125925.5       , 250614.86      ,
       237023.7       , 121194.21      , 143923.5       , 180609.9       ,
       127622.        , 225760.        , 261598.52      , 136609.11      ,
       339059.04      , 155003.32      , 451467.98      , 221368.05      ,
       141259.82      , 128312.        , 180228.        , 139016.6       ,
       193502.22      , 312476.85      , 406944.94      , 257210.8       ,
       154631.        , 248724.        , 178105.82      , 125449.        ,
       163222.        , 204103.5       , 126592.11      , 190288.        ,
       176676.        , 273734.49      , 131411.25      , 217080.        ,
       111983.75      , 127430.83      , 183464.8       , 115763.        ,
       154686.        , 109982.65      , 181488.        , 216538.86      ,
       126156.29      , 196769.37      , 255179.97      , 280578.11      ,
       215437.35      , 111535.        , 139355.        , 193287.5       ,
       231009.52      , 135018.8       , 176347.        , 220866.01      ,
       104086.20238095, 138277.58      , 195128.79      ,  95296.        ,
       142196.53      , 126691.5       , 228559.        , 265925.12      ,
       150821.5       , 252699.54      , 118145.04      , 189790.        ,
       313677.25      , 106072.        , 129662.6       , 246478.        ,
       164416.        , 107586.5       ,  85227.5       , 176692.        ,
       128405.6       , 117132.73      , 178167.5       , 131320.5       ,
       104557.01      , 229929.        , 114563.72      , 145378.        ,
       194289.78      ,  95553.8       , 174540.        , 116062.        ,
       124468.34      ,  83670.11      , 173087.35      , 193251.5       ,
       149740.        , 110395.43      , 240979.        , 219260.        ,
       169456.        , 411741.16      , 124101.        , 293432.05      ,
       139746.34      , 171923.        , 236328.63      , 238622.54      ,
       129597.        , 110740.34      , 141231.        , 110190.        ,
       192173.4       , 249872.85      , 343015.06      , 128861.94      ,
       197823.        , 115257.59      , 141122.16666667,  89737.25      ,
       135833.        , 175204.3       , 183226.5       , 115061.        ,
       123848.75      , 142348.91      , 193811.        , 129733.4       ,
       138563.        , 268193.1       , 318118.        , 212833.9       ])

In [68]:
my_model.score(test_X,test_y)

0.975188180607493

In [69]:
Output = pd.DataFrame({'Id':test_X.index , 'SalePrice':test_predictions})
Output

       Id  SalePrice
0     259  214979.00
1     268  176457.75
2     289  125613.00
3     650   85020.00
4    1234  145603.00
..    ...        ...
579  1350  129733.40
580   346  138563.00
581  1406  268193.10
582   764  318118.00
583   341  212833.90

[584 rows x 2 columns]

In [70]:
Output.to_csv('prediction.csv',index=False)